body, html{
    height: 100%;
    margin: 0px;
}

.container { 
    height: 100vh; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 25vh 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "hero-image hero-image hero-image hero-image hero-image hero-image hero-image"
      ". prof-pic prof-pic prof-info prof-info prof-info ."
      ". reason-text reason-text reason-text reason-pic reason-pic ."
      ". hobbies hobbies hobbies-text hobbies-text hobbies-text ."
      "footer footer footer footer footer footer footer";
  }
  
  .hero-image { 
    border: 2px solid black;
    grid-area: hero-image; 
    background-image: linear-gradient(rgba(255, 0, 0, 0.2),rgba(10, 98, 214, 0.4)), url(../images/beautiful-scenery\ -\ Copy.jpg);
    background-size: cover;
    background-position: center;
}

.navbar a{
    color: white;
    text-decoration: none;
}
  
  .prof-pic { 
    border: 50px solid black;
    grid-area: prof-pic; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prof-pic h1{
    font-size:medium
}

#profile-pic {
    width: 100%;
    height: auto;
}
  
  .prof-info { 
    border: 2px solid black;
    grid-area: prof-info; 
}
  
  .reason-pic { 
    border: 2px solid black;
    grid-area: reason-pic; 
}
  
  .reason-text { border: 2px solid black;
    grid-area: reason-text; 
}
  
  .footer { border: 2px solid black;
    grid-area: footer; 
}
  
  .hobbies { border: 2px solid black;
    grid-area: hobbies; 
}
  
  .hobbies-text { border: 2px solid black;
    grid-area: hobbies-text; 
}
  